#content {
    float: left;
    width: 75%;
}

aside {
    float: right;
    width: 25%;
    background-color: #FFF7ED;
}

#second-section {
    margin: 70px 0px 0px 30px;
    border-radius: 20px;
    background-color: #FFF7ED;
    border: 1px solid #FFF7ED;
    height:35vh;
}

#third-section {
    padding: 90px 0px 0px 30px;
    font-size: 28px;
    font-weight: 600;
}

#four-section {
    padding: 90px 0px 0px 30px;
}

.title-name {
    padding-left: 30px;
    font-size: 18px;
}

.search-container {
    margin-left: 100px;
    font-size: 17px;
    display: inline;
}


.search-container input[type=text] {
    border-radius: 30px;
    outline: none;
    border: none;
    background: #F8F8F7;
    padding: 6px 0px 6px 50px;
  }

  .search-container button[type=submit] {
    background: #F8F8F7;
    position: relative;
    left: 40px;
    font-size: 17px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
  }

  .delivery-text {
      float: right;
      margin: 90px 100px 0px 0px;
      color: #FB703E;
      font-weight: 900;
      font-size: 24px;
  }

  .imgburger {
    width: 40px;
    margin: -5px 0px 0px 30px;
  }

  .button {
    background-color: #FB6D3A;
    border: none;
    color: white;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    margin-right: 100px;
    float: right;
    cursor: pointer;
    width: 14%;
  }

  .navbar {
      background: #FB6D3A !important;
  }

  .button-small {
    background-color: hsla(0, 100%, 90%, 0.1);
    border: none;
    color: white;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    margin-right: 70px;
  }

  .button5 {
      border-radius: 30px;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: flex-start;
      }

      .flex-container > button[type="submit"] {
        background-color: whitesmoke;
        width: 70px;
        margin: 10px;
        text-align: center;
        line-height: 50px;
        font-size: 30px;
        border-radius: 30px;
        outline:none;
        border: none;
      }
      
      .bulet {
          width:60px;
          height:60px;
          border-radius: 60px;
          background: whitesmoke;
          border: 1px solid grey;
          margin: 10px auto;
          text-align: center;
      }

      .menu-container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
      }

      .box-menu {
          position: relative;
      }

      .card-menu {
        width: 24vw;
        height: 25vh;
        border-radius: 30px;
        padding: 0px 15px 0px 0px
      }

      .textOnCard {
        position: absolute;
        top: 150px;
        font-weight: 600;
        text-align: center;
        padding-top: 6px;
        color: black;
        width: 100px;
        height: 40px;
        border: 1px solid grey;
        border-radius: 0px 20px 0px 30px;
        background: grey;
     }

     .total-item {
         width: 30px;
         height: 30px;
         border-radius: 30px;
         background-color: #FCD561;
         margin-left: 5px;
         padding: 3px 3px 3px 10px;
         color: black;
         font-weight: 400;
         font-size: 16px;
     }

     .box-order {
         width: 280px;
         height: 120px;
         background: #503E9D;
         margin: 50px auto;
         border-radius: 20px;
         padding: 20px 0px 0px 20px;
         color: white
     }

    .box-order span {
        color: #EFCA65;
        font-weight: 500;
        cursor: pointer
    }

    .box-order p {
        font-weight: 400;
    }
    
    .list-menu {
        display: inline;
        border-radius: 5px;
    }

    .order-menu {
        width: 7vw;
        height: 10vh;
        border-radius: 10px;
        margin: 10px;
    }

    .button-delivery {
        background-color: hsla(44, 47%, 66%, 0.1);
        box-sizing: border-box;
        border: none;
        color: #EFCA65;
        padding: 20px 35px 20px 35px;
        border-radius: 5px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .total-payment {
        padding: 100px 0px 0px 10px;
        font-weight: 500;
        font-size: 18px;
    }

    .btnTambah {
        border-radius: 20px !important;
        width: 40px;
        height: 30px;
        font-size: 14pt !important;
        padding: 0px !important;
        margin-left: -1px !important;
    }
    .btnChange {
        margin-left: 10px;
    }

    .button-checkout {
        background-color: #EFCA65;
        margin-bottom: 20px;
        margin-top: -10px;
        box-sizing: border-box;
        border: none;
        color: black;
        padding: 20px 25px 20px 25px;
        border-radius: 10px 0px 0px 10px;
        outline: none !important;
        float: right;
    }

    @media screen and (max-width: 1095px) {
   
        #first-section,
        #second-section
       {
            width: 100%;
            padding: 0;
        }

        aside {
            width: 60%;
            float: left;
            margin-left: 100px;
        }

        .order-menu {
            width: 40%;
            height: 50%;
            text-align: center;
        }

        #content {
            margin-left: 100px;
        }
     }

  

     @media screen and (max-width: 1496px) {
        .order-menu {
            display: block;
            margin-left: 0;
        }

        .button-checkout {
            padding: 20px 0px 20px 0px;
        }

        .button-delivery {
            margin-left: 0;
            display: block;
            border-radius: 20px;
        }

        .total {
            margin-top: -80px;
        }

        .delivery {
            margin-right: 60px;
        }

        .box-order {
            width: 271px;
            margin-left: 0;
        }

     }


     @media only screen and (max-width: 1000px) {
            #content {
                margin-left: 50px;
            }

            .button {
                width: 35%;
            }
     }


  @media only screen and (min-width: 500px) {
    .search-container {
        margin-left: 0px;
    }
    .search-container input[type=text] {
        width: 51%;
    }
    #first-section {
        padding: 30px 20px 0px 30px;
    }

    #second-section {
        width: 92%;
    }

    .flex-container > button[type="submit"] {
        margin-left: 0;
    }
    
}

.order-container {
    display: flex;
    flex-direction: column;
    background-color: DodgerBlue;
  }
  
  
@media only screen and (max-width: 824px) {
    .delivery-text {
        margin-right: 10px;
        margin-top: 30px;
        font-size: 10px;
    }

    #second-section {
        height: 14vh;
    }

    .card-menu {
        width: 100%;
        height: 25vh;
      }

    .box-menu {
        margin: 0px 0px 50px 0px;
    }

    .textOnCard {
        position: absolute;
        top: 148px;
    }
}

@media only screen and (min-width: 825px) and (max-width: 1350px) {

    .delivery-text {
        margin-top: 35px;
        font-size: 14px;
        margin-right: 30px;
    }x

    #second-section {
        height: 17vh;
    }

    .textOnCard {
        position: absolute;
        top: 148px;
    }
}


@media only screen and (max-width: 1135px) {
    .imgburger   {
        margin-left: 0;
    }

    .button {
        margin-right: 10px;
        width: 35%;
    }
}